h3{
    color: rgb(255, 0, 0);
}

.profile-photo{
    width: 400px;
    height: auto;
    border: 15px solid #0095ff;
    border-radius: 30%;
    float: right;
     
}
.btn{
    border: 2px solid rgb(255, 0, 0);
    color: white;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: black;

}

.icons{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.icons .fa-brands{
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.icons .fa-brands:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
    box-shadow: 2rem;
    font-size: 30px;
}
