<div class="container">
    <img src="assets\Me.jpg" alt="My Photo" class="profile-photo">
    <h3>Hello!</h3>
    <h1 class="text-white fw-bold">I'm Nagesh Kumavat</h1>
    <p class="text-white fw-bold">I'm a recent Bachelor of Computer Applications (BCA) graduate and I’m excited to
        <br>developing innovative web application.
    </p>
    <p class="text-white fw-bold">Technologies: HTML, CSS, BOOTSTRAP, PHP and Basic Concept of Angular18 .</p>

    <button class="btn fw-bold mt-5">View Project</button>
</div>